.calendar {
  width: 90%;
  margin: 0 auto;

  &__table {
    width: 100%;
    height: 70vh;
  }

  &__week {
    width: 100%;
  }

  &__day {
    width: 14%;
    height: 60px;
    border: 1px solid gray;
    text-align:left ;
    vertical-align: top;
    padding: 2px 4px;

    &-name {
      margin: 0;
      font-size: 14px;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-weekend {
      color: rgb(180, 8, 8);
      font-weight: bold;
    }
  }

  &__today {
    background-color: aquamarine;
  }

  &__note {
    display: block;
    background-color: aquamarine;
    height: 16px;
    width: min-content;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 4px;
    transition: all 0.3s;
    margin: 12px auto 0;

    &:hover {
      cursor: pointer;
      background-color: aqua;
    }
  }
}
